[Unit]
Description=Latency Logging and Graphing System
Documentation=man:smokeping(1)
After=network.target

[Service]
ExecStartPre=/bin/mkdir -p /run/smokeping
ExecStart=/usr/sbin/smokeping --pid-dir=/run/smokeping
# If running service in master/slave setup, you might want to override
# ExecStart with something like the following:
#ExecStart=/usr/sbin/smokeping --master-url=http://127.0.0.1/smokeping.fcgi --cache-dir=/var/lib/smokeping --shared-secret=/etc/smokeping/smokeping_secrets --pid-dir=/run/smokeping
ExecReload=/bin/kill -HUP $MAINPID
StandardError=syslog
Type=forking
PIDFile=/run/smokeping/smokeping.pid

[Install]
WantedBy=multi-user.target
