#!/usr/bin/speedy -w
# -*-perl-*-

use lib qw (/usr/lib/perl5/smokeping);

use Smokeping 1.6;

Smokeping::cgi("/etc/smokeping/config");


BEGIN {
    if ($ENV{SERVER_SOFTWARE}) {
        $SIG{__WARN__} = sub { print "<pre>Warning: ".(shift)."</pre>"; };
        $SIG{__DIE__} = sub { print "<pre>Error: ".(shift)."</pre>"; exit 1 }
    };
}
