#!/usr/bin/speedy -w
# -*-perl-*-

use lib qw (/usr/share/perl5/smokeping);

use Smokeping 1.42;

Smokeping::cgi("/etc/smokeping/config");


BEGIN {
    if ($ENV{SERVER_SOFTWARE}) {
        $SIG{__WARN__} = sub { print "Content-Type: text/plain\n\n".(shift)."\n"; };
        $SIG{__DIE__} = sub { print "Content-Type: text/plain\n\n".(shift)."\n"; exit 1 }
    };
}
